<h1>Login Page</h1>

<form action="/home/login" method="post">
    <input type="text" name="username" />
    <input type="text" name="password" />
    <button type="submit" value="Login">Login</button>
</form>